
<div class="banner d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url(theater.jpeg);">
    <h1>Your Movie Lists</h1>
  </div>

<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-4">
        <%= link_to list_path(list), class: 'text-decoration-none' do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ?  (cl_image_path list.photo.key) : asset_path("card.jpeg") %>);">
            <h2 class="text-center"><%= list.name %></h2>
          </div>
        <% end %>
      </div>
       <% end %>
    </div>
  </div>
 </div>

<div class="container my-4">
  <div class="d-flex justify-content-end">
    <%= link_to 'Create a New List', new_list_path, class: 'btn btn-primary btn-lg shadow-lg custom-button' %>
  </div>
</div>
