.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-top: 20px;
  background-position: center;
  background-size: cover;


}

.card-img-top {
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  height: 200px; // Adjust height as needed
}

.card-body{
  background-color: rgb(139, 132, 132);
}

.card-title{
  color: white;
}

.card-title-movie{

  font-size: 1.75rem;
  font-weight: bold;
  color: #333;
}

.card-rating{
  color: gold;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
  margin-bottom: 8px;
  margin-top: 16px;
}
